.homePageWrapper {
  background-color: #D8EFD3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formWrapper {
  background-color: #95D2B3;
  border: #000000 1px solid;
  padding: 20px;
  border-radius: 10px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputText {
  border-radius: 4px;
  border: 0px;
  height: 30px;
  padding-left: 10px;
}
.btn {
  padding: 10px;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  background-color: #55AD9B;
}
.joinBtn {
  margin-left: auto;
}
.joinBtn:hover {
  background-color: rgb(241, 248, 232);
}
.newRoomBtn {
  border-bottom: solid 1px black;
  cursor: pointer;
  text-decoration: none;
  color: black;
  
}
.footer {
  position: fixed;
  bottom: 0;
}

.mainWrap
{
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;

}
.aside
{
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.asideInner
{
  flex: 1;
}